@(form: Form[Application.Login])

@header()

@helper.form(routes.Application.authenticate) {

<div id="login-container" class="clearfix">
	<div id="login-form" class="clearfix">

		<div id="login-header"><h3>Please Login</h3></div>
		<input id="login-text-field" type="text" name="username" placeholder="Username" >
		<input id="login-text-field" type="password" name="password" placeholder="Password">
		<button id="login-button" class="black-gradient" type="submit">Login</button>

	</div><!-- #login-form -->
	}

	@if(flash.contains("loginError")) {
	<div id="login-error">
		@flash.get("loginError")
	</div><!-- #login-error -->
	}

	@if(flash.contains("logoutNotice")) {
	<div id="logout-notice">
		@flash.get("logoutNotice")
	</div><!-- #logout-notice -->
	}
</div><!-- #login-container -->

@footer()
